:host {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

:host .card-container {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

:host .card-image {
  aspect-ratio: 16 / 9;
}

@media (min-width: 1024px) {
  :host {
    max-width: var(--container-max);
    margin: 0 auto;
    flex: 1;
  }
}