<div class="card-container bg-white rounded-lg p-8 w-full flex flex-col lg:flex-row gap-8">
    
    <div class="card-image w-full lg:w-1/2 bg-riu-placeholder rounded-lg flex items-center justify-center ">
      <span class="text-stone-400 font-bold text-4xl">IMAGE</span>
    </div>

    <div class="w-full lg:w-1/2 flex flex-col justify-between">
      
      <div class="space-y-4">
        <div class="flex items-center gap-2 text-xs text-gray-500 font-medium">
          <span class="inline-block w-4 h-4 rounded-full bg-gray-300"></span>
          Lorem ipsum dolor sit amet.
        </div>

        <h2 class="text-riu-dark font-bold text-[24px] leading-[28px]">
          Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit
        </h2>

        <p class="text-gray-600 text-sm leading-relaxed">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros, eget tempus orci facilisis id. 
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. 
        </p>
      </div>

      <div class="flex justify-end mt-6">
        <button class="bg-riu-red hover:bg-red-700 text-white font-sans text-xs font-semibold h-10 px-6 rounded-lg transition-colors duration-200 cursor-pointer">
          Lorem ipsum
        </button>
      </div>

    </div>

</div>