<div class="w-[312px] h-[416px] md:w-[360px] md:h-[480px] lg:w-[361.5px] lg:h-[482px] shrink-0 snap-start relative rounded-lg overflow-hidden bg-[#BDBDBD] group cursor-pointer flex items-center justify-center">
  
  <span class="text-stone-400 font-bold text-4xl">IMAGE</span>
  
<div class="absolute bottom-0 left-0 right-0 h-[40%] bg-gradient-to-t from-black/95 via-black/60 to-transparent flex flex-col justify-end p-6">    
    <h3 class="text-white font-bold text-[30px] leading-[38px] tracking-normal mb-2">
      Lorem ipsum
    </h3>
    
    <p class="text-white font-normal text-base leading-6 max-w-[304px] line-clamp-2">
      Lorem ipsum dolor sit amet consectetur.
    </p>
    
    <div class="flex items-center gap-[4px] h-6 text-white text-base font-bold mt-12">
      <span class="w-[101px] h-6 text-left leading-6">Lorem ipsum</span>
      <img src="assets/icons/arrow-download.svg" alt="" aria-hidden="true" class="w-6 h-6 shrink-0">
    </div>

  </div>
</div>