<a
  [href]="data.href"
  class="card-item flex flex-col gap-4 focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-black focus-visible:ring-offset-2 cursor-pointer"
>
  <div
    class="card-image w-full bg-riu-placeholder rounded-lg flex items-center justify-center shrink-0"
  >
    <span class="text-stone-400 font-bold text-4xl">IMAGE</span>
  </div>

  <div
    class="category-tag flex items-center gap-[6px] text-[16px] leading-[24px] text-riu-dark font-bold"
  >
    <img src="assets/icons/Calendar.svg" class="w-6 h-6 shrink-0" alt="" aria-hidden="true" />
    {{ data.dateLabel }}
  </div>
  <h3
    class="card-title text-black font-bold text-[23px] leading-[25px] md:text-[30px] md:leading-[38px] line-clamp-2"
  >
    {{ data.title }}
  </h3>

  <p class="card-description text-riu-dark font-normal text-[16px] leading-[24px] line-clamp-5">
    {{ data.description }}
  </p>
</a>
